@model ClientPatientManagement.Core.Model.Room
@{
    ViewBag.Title = "Alta de salas";
}

<h2></h2>

<form style="background:#ffd274;" method="post" action="/Room/Create">
    <h1>Dar de alta una Sala</h1>

    <label>Nombre</label>
    <input style="margin-left:30px;" type="text" name="Name" /><br><br>
    <label>Localización</label>
    <input type="text" name="Location" /><br><br />
    <input style="border: 1px solid black; border-radius: 5px; width:264px;" type="submit" name="Alta" value="Dar de alta" />
</form>
<br />
<a style="font-weight:200; border-radius: 5px; background:#ffd274; text-decoration: none; color: black;" href="~/Room/Index">VOLVER A LA LISTA PRINCIPAL</a>

