@model ClientPatientManagement.Core.Model.Room

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eliminar una sala</title>
    <style>
    
    a:hover{
    text-decoration:underline !important;
    }
    
    </style>
</head>
<body>
    <h3>Está seguro de eliminar la sala?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Nombre: @Model.Name
            </dt>
            <dt>
               Localización: @Model.Location
            </dt>
        </dl>
        <form method="post" action="/Room/Delete2">
            <input type="hidden" name="Id" value="@Model.Id" /><br>
            <input style= "border: 1px solid black; border-radius: 5px; width:264px;" type="submit" name="Eliminar" value="Eliminar" />
        </form>
        <br />
        <a class="linki" style="font-weight:200; border-radius: 5px; background:#ffd274; text-decoration: none; color: black;" href="~/Room/Index">VOLVER A LA LISTA PRINCIPAL</a>
        

    </div>
</body>
</html>
