@model ClientPatientManagement.Core.Model.Room
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="post" action="/Room/Edit">
    <h1>Formulario Editar</h1>
  
    <input type="hidden" name="Id" value="@Model.Id" /><br> 
    <label>Name</label>
    <input type="text" name="Name" value="@Model.Name"/><br>
    <label>Location</label>
    <input type="text" name="Location" value="@Model.Location"/><br>
    <input type="submit" name="Editar" value="Editar" />
</form>

