@model ClientPatientManagement.Core.Model.Room
@{
    ViewBag.Title = "";
}

<h2></h2>

<form style="background:#ffd274;" method="post" action="/Room/Edit">
    <h1>Editar Sala</h1>
  
    <input type="hidden" name="Id" value="@Model.Id" /><br> 
    <label>Nombre</label>
    <input style="margin-left:30px;" type="text" name="Name" value="@Model.Name"/><br><br>
    <label>Localización</label>
    <input type="text" name="Location" value="@Model.Location"/><br><br />
    <input style= "border: 1px solid black; border-radius: 5px; width:264px;" type="submit" name="Editar" value="Editar" />
</form>

