html,body {
	height:100%;
}
body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/********************/


header {
		
	display:block;
	background: #13b1d8;
	padding:10px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
section {
	width: 79%;
	background: #f1f1f1;
	float: left;
	overflow: auto;
	padding-bottom: 60px;
	padding-top:30px;
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    font-family: Arial, Helvetica, sans-serif;
	float: right;
	border: 5px solid #13b1d8;
	width: 19%;

	/*Si quisieramos ocultar el contenido relacionado pondriamos visibility a hidden*/
	/*visibility: hidden;*/
}
footer p {
          line-height: normal;
          margin: 0;
        }
footer .direccion {
          float: left;
          font-size: 12px;
          margin: 22px 0 0 75px;
          width: 270px;
        }
footer p.tel{
          background: url("../images/icono-telefono-pie.jpg") no-repeat scroll left center rgba(0, 0, 0, 0);
          padding: 2px 0 2px 15px;
        }
 footer p.dir {
          background: url("../images/icono-direccion-pie.jpg") no-repeat scroll left center rgba(0, 0, 0, 0);
          padding: 2px 0 2px 15px;
        }
  footer .diseno {
          float: right;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 10px;
          font-weight: 300;
          margin: 30px 57px;
        }
footer .diseno p {
    float: left;
    margin: 0 35px 5px;
}

footer .diseno a {
    color: #FFF;
    text-decoration: none;
}

aside a {
color: black;
text-decoration: none;
}

aside a:hover{
	text-decoration:underline;
}

footer .diseno a:hover{
	text-decoration:underline;
}

footer .diseno {
    float: right;
}

header a{
	color: #fff;
 
text-decoration: none;
}

/******************/

footer {
    font-family: Arial, Helvetica, sans-serif;
	position: relative;
	margin-top: -50px;
	height: 100px; 
	padding:5px 0px;
	clear: both;
	background: #13b1d8;
	text-align: center;
	color: #fff;
}
footer a{
	color: #fff;
}
figure {
	display: table; 
    margin: 0 auto;
    text-align:center;
}