@{
    ViewBag.Title = "Home Page";
}

<figure>
    <img src="~/Content/Images/principal.png" width="300" height="300" alt="Expansión del Hubble" />
    <figcaption> Lo más importante son nuestras mascotas</figcaption>
</figure>
<p>
    VET Clinica comenzó en el año 1988 ,en pleno centro de Martinez, Provincia de Buenos Aires.
    El equipo médico de la clínica, bajo la dirección de la Dra.Silvina Muñiz se caracterizó siempre por su permanente formación, 
    empatía, y vocación de servicio.</p>
<p>
    Es nuestro objetivo la atención médica basada en la prevención asi como la educación de los ciudadanos que conviven
    con animales para lograr una tenencia responsable.
</p>
<p>
    Clinica es un lugar muy agradable para los que nos visitan, con diseño, un buen manejo del orden y organización
    base fundamental para una buena atención.
</p>
<p>
    Los canones de seguridad están muy bien estudiados, tanto en la sala de espera, consultorios, sala de rayos y peluquería
     canina para evitar los riesgos que implica trabajar con animales.
</p>
<p>
    Con una fuerte convicción que la educación es la base para una buena salud y una buena calidad de vida, VET Clinica está
    al servicio de la comunidad para trabajar con este fin.
</p>

