@model IEnumerable<ClientPatientManagement.Core.Model.Patient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Pacientes</h2>

<table style='background:#ffd274;' class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Owner.FullName) *@
                Nombre cliente
            </th>
            <th>
                Nombre mascota
                @*@Html.DisplayNameFor(model => model.Name) *@
            </th>
            <th>
                Género
                @*@Html.DisplayNameFor(model => model.Gender)*@
            </th>
                <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    <a style="color: black;" href="~/Patients/Edit/@item.Id">EDITAR</a> -- <a style="color: black;" href="~/Patients/Delete/@item.Id">ELIMINAR</a>
                </td>
            </tr>
        }
        </tbody>
    <tfoot>
        <tr></tr>
    </tfoot>
</table>
<br />
<a class="linki" style="font-weight:200; border-radius: 5px; background:#ffd274; text-decoration: none; color: black;" href="~/Patients/Create">DAR DE ALTA UN PACIENTE</a>
