@model ClientPatientManagement.Core.Model.Doctor

@{
    ViewBag.Title = "Alta doctor";
}

<!DOCTYPE html>

<h2></h2>
    <form style="background:#ffd274;" method="post" action="/Doctor/Create">
        <h1>Alta Doctor</h1>

        <label>Nombre</label>
        <input type="text" name="Name" /><br><br />
        <label>Email </label>
        <input style="margin-left:17px;" type="text" name="Email"  /><br> <br />
        <input style="border: 1px solid black; border-radius: 5px; width:264px;" type="submit" name="Crear" value="Dar de alta" />
    </form>
    <br />
    <a style="font-weight:200; border-radius: 5px; background:#ffd274; text-decoration: none; color: black;" href="~/Doctor/Index">VOLVER A LA LISTA PRINCIPAL</a>

