@model IEnumerable<ClientPatientManagement.Core.Model.Doctor>

@{
    ViewBag.Title = "Listado Doctores";
}
<!DOCTYPE html>

<html>
<head>
    <title>Listado de Doctores</title>
</head>
<body>
    <h2>Lista de Doctores</h2>
    <table style='background:#ffd274; width: 100%;'>
        <thead>
            <tr>
                <th style="text-align:left;  border-bottom: 1px solid black;">Código</th>
                <th style="text-align:left;  border-bottom: 1px solid black;">Nombre</th>
                <th style="text-align:left;  border-bottom: 1px solid black;">Email</th>
                <th style="text-align:left;  border-bottom: 1px solid black;">Acciones</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id </td>
                    <td> @item.Name</td>
                    <td>@item.Email </td>
                    <td><a style="color: black;" href="~/Doctor/Edit/@item.Id">EDITAR</a> -- <a style="color: black;" href="~/Doctor/Delete/@item.Id">ELIMINAR</a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
    <br />
    <a class="linki" style="font-weight:200; border-radius: 5px; background:#ffd274; text-decoration: none; color: black;" href="~/Doctor/Create">DAR DE ALTA UN DOCTOR</a>
</body>
</html>
